# Configure our CPU
cpu:   model=bx_generic, count=1, ips=10000000, reset_on_triple_fault=0
cpuid: level=6, mmx=1, apic=xapic

# Configure the emulator to use 128MB of RAM
megs: 512

# Configure our COM1 serial output
com1: enabled=1, mode=file, dev=com1.txt
com2: enabled=1, mode=file, dev=com2.txt

# Enable the VGA display and configure it to use the VBE 3.0 BIOS extension
display_library: x, options="gui_debug"

# Break when we encounter "xchg bx, bx"
magic_break: enabled=1

# Configure our debugging and logging output
panic: action=ask
error: action=ask
info: action=report
debug: action=ignore, cpu0=ignore

# Use a default PC-style hardware configuration
romimage: file=$BXSHARE/BIOS-bochs-legacy

# Finally, configure our boot media
ata0-master:    type=cdrom, path=build/output/final-image.iso, status=inserted
boot:           cdrom

speaker: enabled=0
